# node_modules
**/node_modules

# Environment
**/.env
**/.env.local
**/.env.*.local

# Expo caches and build artifacts
**/neo4j/
**/.expo/
**/dist/
**/web-build/

# IDE and System files
.vscode/
.idea/
.DS_Store
*.swp
*.log
# LaTeX build artifacts
doc/laTeX/*.aux
doc/laTeX/*.bbl
doc/laTeX/*.blg
doc/laTeX/*.out
doc/laTeX/*.toc
doc/laTeX/main.pdf
doc/laTeX/template.zip

# Pacote de entrega
entrega_TP_BD2.zip
